In [ ]:
# print 0 to 20 by using range

In [1]:
for num in range (0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# print range 10 to 20

In [2]:
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [ ]:
# Print number of items in the list by using 'len'

In [5]:
list= [10, 20, 14, 55, 43, 87, 76]
print("[10, 20, 14, 55, 43, 87, 76]")
print("Number of item in the List2:")
print(len(list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [ ]:
Artificial Intelligence

In [6]:
str='Artificial Intelligence'
for Ai in str:
    print(Ai)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [9]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [ ]:
# Print yhis mixered datatype using Tuples

In [9]:
Tuple1 = (1, 'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [12]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
print((Tuple1, Tuple2))

((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
# print Odd Numbers in the list
(20,10,16,19,25,1,276,188)

In [4]:
print("(20,10,16,19,25,1,276,188)")
lists = (20,10,16,19,25,1,276,188)
for odd in lists:
    if (odd%2==1):
        print(odd,"is odd")

(20,10,16,19,25,1,276,188)
19 is odd
25 is odd
1 is odd

In [ ]:
# print Even numbers in the list
(20,10,16,19,25,1,276,188)

In [7]:
print("(20,10,16,19,25,1,276,188)")
lists = (20,10,16,19,25,1,276,188)
for even in lists:
    if(even%2==0):
        print(even,"is even")

(20,10,16,19,25,1,276,188)
20 is even
10 is even
16 is even
276 is even
188 is even